.simulatorContainer {
  position: relative;
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdc3c7;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}
