.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 100;
}

.container {
  position: relative;
  background-color: white;
  height: 80%;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.addButton {
  width: 100%;
  padding: 20px 0;
  background-color: #03befc;
  position: absolute;
  bottom: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.imageList {
  margin: 20px;
}
